spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/glide
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    jackson:
      serialization:
        write-dates-as-timestamps: false

server:
  port: 8080
  forward-headers-strategy: framework
debug: on